@import "tailwindcss";
@plugin "daisyui";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */

  --builder-bg: #f8fafc;
  --builder-white: #ffffff;
  --builder-text: #0f172a;
  --builder-muted: #475569;
  --builder-muted-light: #64748b;
  --builder-border: #e2e8f0;

  --builder-blue: #2563eb;
  --builder-blue-dark: #1d4ed8;

  --builder-green: #16a34a;

  --builder-shadow: 0 20px 60px rgba(15, 23, 42, 0.08);
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: #f8fafc;
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
